<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css')}}">
    <title>Казино - Сделайте ставку</title>    
</head>
<body>
    <h1 class="b-radius2">Сделайте ставку</h1>
    <div class="balance">Ваш баланс: {{ balance }}$</div>
    
    <form method="POST" action="/place_bet">
        <input type="number" name="bet_amount" min="1" max="{{ balance }}" required placeholder="Сумма ставки" class="box">
        <button type="submit" class="box">Сделать ставку</button>
    </form>
</body>
</html>

