<!DOCTYPE html>
<html>
<head>
    <title>Казино - Выберите число</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css')}}">
</head>
<body>
    <div class="info">
        <h1 class="b-radius2">Выберите число от 1 до 36</h1>
        <div class="balance">Ваш баланс: {{ balance }}$</div>
        <div class="balance">Ваша ставка: {{ bet_amount }}$</div>
    </div>
    
    <form method="POST" action="/play">
        <div class="numbers">

            <input type="number" name="number" min="1" max="36" required placeholder="Выберите число" class="box">
            <p class ="nameeee"> </p>
            <button type="submit" class="btn-new">Выбрать</button>
                
        
        </div>
    </form>
</body>
</html>